extends layout
block content        
  include parts/soutenezLaConsigne.pug
  include parts/pourquoiConsigner.pug
  include parts/leReseauConsigne.pug
  include parts/EngagezVous.pug
  include parts/FaitesUnDon.pug