doctype html
html(lang="fr")
  
  head

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    title La Consigne Du Verre En France
  
    block style
      link(rel="stylesheet", href="/styles/main.css")
    
    block script
      //- script(src="/scripts/main.js")

  body

    main
      block content
